---
layout: default
title: All Posts
---

<section class="post-index">
    <ul class="post-list">
    {% for post in site.posts %}
        <li class="post-item{% if forloop.first %} post-item--first{% endif %}">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-title">{{ post.title }}</span>{% if post.external_url %}<span class="linklog">{{ site.external-url-indicator }}</span>{% endif %}{% if post.draft %}<span class="draft">Draft</span>{% endif %}
            </a>
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </li>
    {% endfor %}
    </ul>
</section>